/* Coder: Alexander Roeltgen
   Date: 2.21
   File Name: styles.css

   Stopped at 2 improve
*/

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    padding: 2%;
    background-color: #d1d1e0;
}

/* Header Styles */
header h1 {
    font-size: 3em;
    font-family: Georgia, Times, serif;
    padding: 3%;
    color: #47476b;
    text-align: center;
}

/* Navigation Styles */
nav {
    background-color: #47476b;
}

nav ul {
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    font-size: 1.5em;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
}

nav li a {
    display: block;
    color: #e3eaf8;
    padding: 0.5em 2em;
    text-decoration: none;
}

/* Main Content Styles */
main {
    padding: 2%;
    font-family: Geneva, Arial, sans-serif;
    overflow: auto;
}

main p {
    font-size: 1.25em;
}

main h3 {
    padding-top: 2%;
    font-size: 2em;
}

main a {
    color: #47476b; /* Sets font color */
    text-decoration: none; /* Removes underline */
    font-weight: bold; /* Sets font weight to bold */
    font-style: italic; /* Sets font style to italic */
}

/* ID Selectors for CSS1, CSS2, CSS3 */
#css1, #css2, #css3 {
    width: 30%;
    float: left;
    padding: 0 1%;
}

/* Footer Styles */
footer {
    text-align: center;
    font-size: 0.85em;
    color: #47476b;
    padding: 1% 0;
    border-top: 3px solid #47476b;
    clear: left;
}
